name: Secret / API-Key Scan

on:
  pull_request:
    branches: [ main, master ]
  push:
    branches: [ main, master ]

jobs:
  scan-secrets:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Gitleaks to detect secrets
        uses: zricethezav/gitleaks-action@v2
        with:
          config-path: .github/gitleaks.toml
          # optionally specify :
          # severity: medium
